* {
	box-sizing: border-box;
}

body {
	color: #1d3d76;
	font: 100% "Trebuchet MS", Verdana, sans-serif;
	padding-bottom: 20px;
	margin: 0;
}

h1,
.logo {
	color: #b74e07;
	font-weight: bold;
}

h1 {
	font-size: 1.5em;
	margin-bottom: .75em;
}        

p {
	margin: 0 0 .5em;
	padding-right: 10px;
}

a {
	padding: .20px;
}

a:link {
	text-decoration: none;
	color: #597dbd;
}

a:visited {
	text-decoration: none;
	color: #597dbd;
}

a:focus,
a:hover,
a:active {
	background: #f3cfb6;
	text-decoration: underline;
}

.nav a:hover {
	text-decoration: none;
}

.main-head:before, .main-head:after { content: ""; display: table; }
.main-head:after { clear: both; }
.main-head { zoom: 1; }

header {
    padding-bottom: 20px;
	border-bottom: 2px dotted #1d3d76;
	margin-bottom: 30px;
}

.logo {
	float: left;
	font-size: 2.5em;
	margin: 0;
}

.logo span {
	color: #1d3d76;
	display: block;
	font-size: 0.3em;
	font-style: italic;
	font-weight: normal;
	margin: 3px 0 0 1em;	
}

header div {
	float: right;
	position: relative;
}

.nav {
	display: flex;
	margin-top: 45px;
}

.nav li {
	float: left;
	font-size: .75em;
	padding: 0 25px 0 3px;
}

.nav li a {
	font-size: 1.5em;
}

.nav li:first-child {
	list-style: none;
	padding-left: 0;
}

.nav li:last-child {
	padding-right: 0;
}

main {
	display: flex;
    flex-wrap: wrap;
}

.main-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 60px;
    background: #1d3d76;
    color: #fff;
}

aside {
	flex: 1;
	background: #f5f8fa;
	padding: 80px;
    text-align: center;
}

aside h2 {
	font-size: 16px;
	margin-bottom: 3px;
}

#about {
	font-style: italic;
	border-right: 2px dashed #b74e07;
}

.work {
	flex: 4;
	background-color: #fff;
	padding: 20px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.card {
    border-style: solid;
    border-width: 1px;
	border-radius: 10px;
	border-color: #b74e07;
	padding: 10px;
	flex: 0 0 400px;
}

.card header {
    padding: 20px;
    background: #1d3d76;
    color: #fff;
}

.card p {
	text-align: left;
}

.card img {    
	width: 100%;
    min-width: 400px;
}

.card img:focus,
.card img:hover,
.card img:active {
	background: #fff;
}

#contact ol {
	list-style: disc;
	padding-left: 18px;
}

footer {
	text-align: center;
	border-top: 2px dotted #b74e07;
	clear: both;
	margin-top: 10px;
}

footer h1 {
	font-size: 1em;
	margin-bottom: .10px;
	padding-top: 20px;
}

@media screen and (max-width: 768px) {
	main,
	nav {
	  flex-direction: column;
	}
  }